<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bio</key>
		<string>和傀儡以及石像鬼类似，撼地者也曾经是大地的一部分，但现在他自由地行走在地面上。不同于那些存在，撼地者自身的意志创造了他，他不需要服从于任何主人。在岩石深处不安宁的沉睡中，他感到了上方世界自由自在的生命的存在。他对此产生了好奇心。在一个地震多发的时期，尼西埃雪山摇动的山顶发生了雪崩，河流的流径改变了，浅浅的山谷变成了深不可测的深渊。大地停止震动后，撼地者从沉淀的灰土中走了出来，像脱下毯子一样抖落无数岩石。他幻化成他想象中的野兽的外形，并自称雷格石蹄。他现在流动着血液、呼吸着空气、也会死亡。但他的精神仍然与大地同在，他的力量在那根永不离身的魔力图腾中。当他回归尘土的那天，大地仍会欢迎这个浪子回家。	</string>
		<key>name</key>
		<string>撼地者</string>
		<key>ename</key>
		<string>Earthshaker</string>
		<key>skill</key>
		<string>Melee - Support - Initiator - Disabler - Nuker</string>
		<key>type</key>
		<string>STRENGTH</string>
	</dict>
	<dict>
		<key>bio</key>
		<string>斯温是一名守夜骑士的私生子，身怀苍白南海人的血统，在影承废墟长大。他父亲因为违背了守夜人法典而被处决，母亲又因为她的种族而被驱逐，这一切让斯温坚信所谓的社会法则中毫无荣誉可言——荣誉只存在于他心中。在照顾母亲走过弥留之际以后，他以新人的身份参加了守夜骑士团，并对自己的身份绝对保密。十三年来，他一直在他父亲当年的学校里学习，掌握那些仇视他出身的人所撰写的法则。接着，在他本该立誓成为守夜骑士的那天，他手持弃誓之刃，击碎神圣之盔，用守夜圣火烧毁了那所谓的法则。他大步流星的从守夜堡离开，注定了永世孤独，并向圣符起誓，只遵循他自己心中的法则。是的，他仍然是一名骑士，一名剑客，不过是...流浪剑客。	</string>
		<key>name</key>
		<string>斯温</string>
		<key>ename</key>
		<string>Sven</string>
		<key>skill</key>
		<string>Melee - Carry - Disabler - Initiator - Durable - Nuker</string>
		<key>type</key>
		<string>STRENGTH</string>
	</dict>
	<dict>
		<key>bio</key>
		<string>当山下的王国被潮水般的侵略者们横扫的时候，星隐寺的僧侣们只是在山上默默的注视着那崎岖的山谷。苦行且务实的他们在偏远高山的寺院里，独自沉浸在远离尘嚣的冥想中，不受任何魔法元素或者神灵的干扰。然而，死亡之神的军队来了，带着摧毁所有信仰，并让当地人转而信奉死亡之神的虚无主义。带着他们千年的战乱和血雨腥风，死亡军团将他们打败的敌人的灵魂和尸骨撕裂，用这种恐怖来摧毁星隐寺的信仰。面对此等攻击，寺院只坚持了不到两个星期，甚至还有一些刚从冥想中醒来的僧侣认为，这些入侵者不过是恶魔用来干扰他们冥想的幻象，于是他们死在了自己的冥想垫上。只有一个人幸免于难，他是来星隐寺寻求智慧，却尚未得到寺院认可的侍僧。他惊恐地看着自己曾经侍奉过的僧侣们被杀，然后又被复活成为死亡之神的祭司。带着星隐寺残存的珍贵教义卷轴，他艰难地到达了一个相对安全的地方，他发誓，不仅要消灭死亡之神的魔法师，更要将“魔法”这个词从世上抹去。	</string>
		<key>name</key>
		<string>敌法师</string>
		<key>ename</key>
		<string>Antimage</string>
		<key>skill</key>
		<string>Melee - Carry - Escape - Nuker</string>
		<key>type</key>
		<string>AGILITY</string>
	</dict>
	<dict>
		<key>bio</key>
		<string>卓尔游侠名叫崔希丝，这个名字很适合矮小、有点像侏儒、令人生厌的卓尔人。但崔希丝并不是卓尔人。她的双亲在坐大篷车旅行时受到土匪的袭击，滥杀无辜的土匪激怒了附近爱好和平的卓尔人。战斗结束后，卓尔人发现了一个藏在马车残骸中的小女孩，他们一致同意不能让这个失去父母的孩子被抛弃。还是孩童时，崔希丝就展现出了她对那些卓尔人引以为傲的技术的天赋：隐秘、沉默、敏锐。如果不看身体，在精神上她就像一个被拐走后又回到自己真正家中的卓尔人孩童。但随着她的成长，她的个头比她的家人高了不少，她因此认为自己是个丑陋的卓尔人。即使她皮肤光滑且长的匀称，完全没有卓尔人的肉疣和粗糙的髯须。与收养她的部族疏远后，她独自居住在森林中。许多在森林中寻路的旅行者都说他们见过一个美丽得难以置信的游侠在树林深处凝视他们，而当他们试图接近时，她又消失的无影无踪。轻盈、隐秘的冷美人，她像无声的迷雾般移动。你听到的森林低语，其实是她命中敌人心脏的霜冻箭矢的破空之声。	</string>
		<key>name</key>
		<string>卓尔游侠</string>
		<key>ename</key>
		<string>Drow_ranger</string>
		<key>skill</key>
		<string>Ranged - Carry - Disabler - Pusher</string>
		<key>type</key>
		<string>AGILITY</string>
	</dict>
	<dict>
		<key>bio</key>
		<string>当别人第一眼看到帕克的时候，都会觉得它十分淘气，是小孩子性格。然而正是这种错觉让帕克的真实个性得以隐藏。仙女龙一族的寿命趋于无限，帕克则还处于仙女龙的幼年形态，然而它在这一形态也已经过了上千年了。因此即使从某种意义上来说，帕克还算是幼年，但它的幼年期将会一直持续到现在的城市归于尘土。帕克的真实动机是什么，旁人完全无法捉摸，而在那嬉戏的外表下也有可能隐藏着更隐秘的目的。而唯一能让人体会到帕克真实个性的，是它对顽皮捣乱的无尽热衷。	</string>
		<key>name</key>
		<string>帕克</string>
		<key>ename</key>
		<string>Puck</string>
		<key>skill</key>
		<string>Ranged - Support - Disabler - Nuker - Jungler</string>
		<key>type</key>
		<string>INTELLIGENCE</string>
	</dict>
	<dict>
		<key>bio</key>
		<string>秀逗魔导士莉娜和她妹妹水晶室女莉莱从小就合不来，她们从童年开始就你来我往的争斗成为了当地人津津乐道的传奇故事。莉娜总是占上风，如果说水晶室女的天性纯良而诚实，那么莉娜则是火爆中带着放纵和聪慧。在两人分别用冰和火毁掉了一大半房子以后，她们气急败坏的父母终于意识到两人必须分开。作为姐姐，莉娜被送到了遥远的南方，纷争之国的燃烧沙漠，和她有耐心的姑妈一起生活，这里的气候对这位火爆的魔导士来说其实更舒服。她的到来让一潭死水的当地泛起了不小的涟漪，许多男人试图追求她，最后却拖着烧焦的手指头或者只剩半边的眉毛以及被摧毁的自信心狼狈离开。莉娜非常自信且骄傲，没有任何事物能抑制她的火焰。	</string>
		<key>name</key>
		<string>莉娜</string>
		<key>ename</key>
		<string>Lina</string>
		<key>skill</key>
		<string>Ranged - Support - Carry - Nuker - Disabler</string>
		<key>type</key>
		<string>INTELLIGENCE</string>
	</dict>
</array>
</plist>
